<%- model_class = Question -%>
<div class="page-header">
  <h1><%=t '.title', :default => Question %></h1>
</div>
<div id='questions' class="col-md-9">
  <div class='form-group'>
    <label for='search' class="control-label">Search: </label>
    <%= search_field '', '', class: 'search form-control', placeholder: "Type your search text here" %>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class='sort' data-sort="id">
          ID
          <%= sorting_icons(:order) %>
        </th>
        <th>
          Active
        </th>
        <th class='sort' data-sort="text">
          <%= model_class.human_attribute_name(:question_text) -%>
          <%= sorting_icons(:alphabet) %>
        </th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody class="list">
      <% cache @questions do %>
      <% @questions.each do |question| %>
        <% cache question do %>
        <tr data-category-list="<%= question.categories.map(&:title).to_json %>">
          <td class='id col-md-1'><%= question.id %></td>
          <td class='published col-md-1'><%= glyph(:ok) if question.published? %></td>
          <td class='col-md-9'>
            <%= content_tag :div, class: 'text collapsed', data: { toggle: :collapse, target: "#answers_for_question_#{question.id}" } do %>
              <%= glyph('triangle-right') %>
              <%= glyph('triangle-bottom') %>
              <%= question.question_text %>
            <% end %>
            <%= content_tag :div, class: :collapse, id: "answers_for_question_#{question.id}" do %>
              <div class='row'>
                <div class='col-md-6'>
                  <h4>Answers</h4>
                  <div class="answers">
                    <% question.answers.each do |answer| %>
                      <%= render answer %>
                    <% end %>
                  </div>
                  <% if question.learnable %>
                    <h4>Key message</h4>
                    <div class="learnable">
                      <%= question.learnable.body %>
                    </div>
                  <% end %>
                </div>
                <div class='col-md-6'>
                  <h4>Topics</h4>
                  <div class="topics">
                    <% question.categories.each do |category| %>
                      <dd><%= category.title %></dd>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </td>
          <td class="actions col-md-1">
            <%= link_to question_path(question), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
              <%= glyph 'info-sign' %>
            <%- end -%>
            <%= link_to edit_question_path(question), :class => 'btn btn-xs', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
              <%= glyph 'pencil' %>
            <%- end -%>
            <%= link_to question_path(question), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
              <%= glyph 'remove' %>
            <%- end -%>
          </td>
        </tr>
        <% end %>
      <% end %>
      <% end %>
    </tbody>
  </table>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_question_path,
              :class => 'btn btn-primary' %>

  <%= link_to questions_path(format: :json), :class => 'btn btn-secondary pull-right' do %>
    <%= t('.download', :default => t("download")) %>
    <%= glyph(:download) %>
  <% end %>
</div>

<div class="col-md-3">
  <div class="well sidebar-nav">
    <h3>Filters</h3>
    <ul class="nav">
      <li class="nav-header">Topics</li>
      <%= active_category_dropdown %>
    </ul>
  </div>
</div>

<%= javascript_tag do %>
  document.addEventListener("turbolinks:load", buildQuestionList);

  function buildQuestionList() {
    document.removeEventListener("turbolinks:load", buildQuestionList);

    var options = {
      valueNames: ['id', 'text', 'answers', 'topics', 'learnable']
    };

    var questionList = new List('questions', options);
    document.registerListForFiltering(questionList, 'category', <%= Category.all.map(&:title).to_json.html_safe %>);
  }
<% end %>
