- model_class = Question
= container do
  .page-header
    %h1= t '.title', :default => Question
  .fieldset
    %dl.dl-horizontal
      .well
        %dt= model_class.human_attribute_name(:question_text)
        %dd= @question.question_text
      .well
        %dt= model_class.human_attribute_name(:answers)
        %dd
          - @question.answers.each do |answer|
            = render answer
      .well
        %dt= model_class.human_attribute_name(:topics)
        %dd
          %ul.list-unstyled
            - @question.categories.each do |category|
              %li= category.title
      - if @question.learnable
        .well
          %dt Key message
          %dd.well
            %dl.dl-vertical
              %dt Title
              %dd= @question.learnable.title
              %dt Body
              %dd= @question.learnable.body
  .form-group
    = link_to t('.back', :default => t("helpers.links.back")), |
      questions_path, :class => 'btn btn-default'
    = link_to t('.edit', :default => t("helpers.links.edit")),   |
      edit_question_path(@question), :class => 'btn btn-default'
    = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
      question_path(@question),                                                                                    |
      :method => 'delete',                                                                                         |
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
      :class => 'btn btn-danger'
