<%- model_class = Learnable -%>
<div class="page-header">
  <h1><%=t '.title', :default => Learnable %></h1>
</div>
<div id='learnables'>
  <div class='form-group'>
    <label for='search' class="control-label">Search: </label>
    <%= search_field '', '', class: 'search form-control', placeholder: "Type your search text here" %>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class='sort' data-sort="title">
          <%= model_class.human_attribute_name(:title) %>
          <%= sorting_icons(:alphabet) %>
        </th>
        <th class='sort' data-sort="body">
          <%= model_class.human_attribute_name(:body) %>
          <%= sorting_icons(:alphabet) %>
        </th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody class="list">
      <% @learnables.each do |learnable| %>
        <tr>
          <td class='title'><%= learnable.title %></td>
          <td class='body'><%= learnable.body %></td>
          <td class='actions'>
            <%= link_to learnable_path(learnable), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
              <%= glyph 'info-sign' %>
            <% end %>
            <%= link_to edit_learnable_path(learnable), :class => 'btn btn-xs', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
              <%= glyph 'pencil' %>
            <%- end -%>
            <%= link_to learnable_path(learnable), :method => :delete, :data => { :confirm => t('.confirm', :default => t("learnable.remove.confirm", count: learnable.questions.count)) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
              <%= glyph 'remove' %>
            <%- end -%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
  new_learnable_path,
  :class => 'btn btn-primary' %>

<%= javascript_tag do %>
  document.addEventListener("turbolinks:load", buildLearnableList);

  function buildLearnableList() {
    document.removeEventListener("turbolinks:load", buildLearnableList);

    var options = {
      valueNames: ['title', 'body']
    };

    new List('learnables', options);
  }
<% end %>
