<div class="row">
  <div class="col-md-6">
    <%= content_tag :div, "", id: "crop-for-question", data: {
      viewport: { width: 750, height: 330 },
      cropper: true
    } %>
  </div>
  <div class="col-md-6">
    <%= content_tag :div, "", id: "crop-for-answer", data: { viewport: { width: 270, height: 186 } } %>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-2">
    <div class="form-group">
      <label class="btn btn-default btn-file form-control col-md-2">
        Upload image
        <input type="file" style="display: none;" accept="image" id="upload">
      </label>
      <button class="btn btn-primary upload-result form-control col-md-2">Preview</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <img id="preview-question" class="center-block" width="750" height="330">
  </div>
  <div class="col-md-6">
    <img id="preview-answer" class="center-block" width="270" height="186">
  </div>
</div>

<%= form_for @content_image, :html => { multipart: true, class: 'form-horizontal form-model' } do |f| %>
  <%= f.hidden_field :answer_image, value: nil, id: :answer_image %>
  <%= f.hidden_field :question_image, value: nil, id: :question_image %>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.text_field :filename, id: :filename %>

      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), content_images_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
