.row
  .col-md-6
    = content_tag :div, "", id: "crop-for-question", data: { |
        viewport: { width: 750, height: 330 },               |
        cropper: true                                        |
      }                                                      |
  .col-md-6
    = content_tag :div, "", id: "crop-for-answer", data: { viewport: { width: 270, height: 186 } }
.row
  .col-md-offset-2.col-md-2
    .form-group
      %label.btn.btn-default.btn-file.form-control.col-md-2
        Upload image
        %input#upload{:accept => "image", :style => "display: none;", :type => "file"}/
      %button.btn.btn-primary.upload-result.form-control.col-md-2 Preview
.row
  .col-md-6
    %img#preview-question.center-block{:height => "330", :width => "750"}/
  .col-md-6
    %img#preview-answer.center-block{:height => "186", :width => "270"}/
= form_for @content_image, :html => { multipart: true, class: 'form-horizontal form-model' } do |f|
  = f.hidden_field :answer_image, value: nil, id: :answer_image
  = f.hidden_field :question_image, value: nil, id: :question_image
  .form-group
    .col-md-offset-2.col-md-10
      = f.text_field :filename, id: :filename
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), content_images_path, :class => 'btn btn-default'
