<%- model_class = ContentImage -%>
<div class="page-header">
  <h1><%=t 'content_image.index.title' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:filename) %></th>
      <th><%=t 'content_image.times_used' %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @content_images.each do |content_image| %>
      <tr>
        <td><%= content_image.id %></td>
        <td><%= content_image.filename %></td>
        <td><%= content_image.times_used %></td>
        <td>
          <%= link_to content_image_path(content_image), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
          <% end %>
          <%= link_to edit_content_image_path(content_image), :class => 'btn btn-xs', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <% if content_image.in_use? %>
            <%= content_tag :span, class: 'inactive', title: t('content_image.remove.hover.inactive', count: content_image.times_used) do %>
              <%= glyph 'remove' %>
            <% end %>
          <% else %>
            <%= link_to content_image_path(content_image), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
              <%= glyph 'remove' %>
            <%- end -%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_content_image_path,
            :class => 'btn btn-primary' %>
